
 

p(ng-init="test2 = ['d','c']") Quickstart Agents

h3 Add a new Agent remotely via ssh

p User/Password@host
.progress.progress-success.bar(id='p')
d
	input(type="text" name="user" ng-model='agent.user')
	&#47;
	input(type="password" name="password" ng-model='agent.password')
	&#64;
	input(type="text" name="host" ng-model='agent.host')
	button(ng-click='addAgent(agent)' ) Add Agent

h3 Add a new Agent via wget: wget http:{{name}}/agent_install then ./qs_agent.bin


Connected Agents
table
	thead
		tr
			td id
			td host
			td port
			td status
			td delete
			td reinstall
			td agent messages
	tbody
		tr(ng-repeat="agent in connectedAgents" ng-class="rowClass(agent)" id="{{agent._id}}")
			td: d(id="{{agent._id}}_id")
				{{agent._id}}
			td: d
				{{agent.host}}
			td: d{{agent.port}}
			td: d{{agent.status}}
			td 
				a(ng-click='deleteAgent(agent)')
					img(src="images/remove.png")
			td 
				a(href="/api/addAgent?id={{agent._id}}")
					img(src="images/install.png")
			td(id='{{agent._id}}_messages'): "zzzzzzzzz"

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
script(src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js')
script(type='text/javascript').
	var eventSource = new EventSource('/agent-updates');
	
	eventSource.addEventListener('message', function(e) {

		var data = JSON.parse(e.data);
		var agent_message_box = document.getElementById('data.id+"_messages"');
		agent_message_box.textContent = data.msg;
	});
	var agent_message_box1 = document.getElementById('0V1Iwgu10boM04ou_messages');
	var agent_message_box2 = document.getElementById('123');
	agent_message_box1.innerHTML = "Blah Blah";
	agent_message_box2.textContent = "Blah Blah2";