p Workflows
p
.workflows-page

	.workflows-nav
		div(dropdown is-open="repoSelect.isopen").btn-group
			button.btn.btn-secondary.dropdown-toggle
					span(id="selectRepo") 
						| Select a repository 
					span.caret
			ul.dropdown-menu(role="menu")
				li(ng-repeat="(key, repo) in fileRepos")
					a(ng-click="selectRepo(key)") 
						{{key}}
				li.divider
		.workflows-buttons.btn-group
			button.btn.btn-secondary(type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="deleteFile()" )|delete
			button.btn.btn-secondary(type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="addFile()" )|add

		
		span(ng-if="loading_workflows") ...loading...
		abn-tree(tree-data="workflows" tree-control="workflow_tree" on-select="tree_handler(branch)" expand-level="2" initial-selection="weblogic" )
	.workflows-control
		.agent-progress(ng-hide="runningWorkflows.length == 0" ng-repeat="agentJobs in runningWorkflows")
				.progressBar(ng-repeat="job in agentJobs" ng-hide="job.progress == 0")
					i.glyphicon.glyphicon-calendar {{agentJobs.agent.user}}@{{agentJobs.agent.host}} 
					progressbar(ng-hide="job.progress == 0" animate="job.progress" value="job.progress" type="success")
						{{job.status}}
		div(dropdown is-open="status.isopen").btn-group
			button.btn.btn-primary.dropdown-toggle
				span(id="selectAgent") 
					| Select An Agent 
				span.caret
			ul.dropdown-menu(role="menu")
				li(ng-repeat="agent in connectedAgents")
					a(ng-click="selectAgent(agent)") 
						{{agent.user}}@{{agent.host}}:{{agent.port}}
				li.divider
				li
					| All Agents
		.workflows-buttons.btn-group
			button.btn.btn-primary(ng-hide="currentRunningJob.progress > 0" type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="executeWorkflow()" ) Execute
			button.btn.btn-primary(ng-hide="currentRunningJob.progress > 0" type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="saveWorkflow()") Save
		.workflows-message-block(ng-show="message")
			{{message}}
		div.workflows-textarea(id="jsoneditor")
 
div
	script(type="text/ng-template" id="directoryWarning")
		.modal-header
			h3.modal-title Directory delete requested
		.modal-body
			ul
				| Are you sure?
		.modal-footer
			button.btn.btn-primary(ng-click="ok()") OK
			button.btn.btn-warning(ng-click="cancel()") Cancel
			
div
	script(type="text/ng-template" id="addFile")
		.modal-header
			h3.modal-title Add a file
		.modal-body
			ul
				Add New File to : {{selectedNode.path}}
				input(type="text" name="newFileName" ng-model='newFileName')
				
		.modal-footer
			button.btn.btn-primary(ng-click="addFile(newFileName)") Add File
			button.btn.btn-warning(ng-hide="selectedNode.type != 'folder'" ng-click="addDirectory(newFileName)") Add Directory
			button.btn.btn-warning(ng-click="cancel()") Cancel


