p Workflows
p
.workflows-page

	.workflows-nav
		div(dropdown is-open="repoSelect.isopen").btn-group
			button.btn.btn-secondary.dropdown-toggle
					span(id="selectRepo") 
						| Select a repository 
					span.caret
			ul.dropdown-menu(role="menu")
				li(ng-repeat="(key, repo) in fileRepos")
					a(ng-click="selectRepo(key)") 
						{{key}}
				li.divider
		.workflows-buttons.btn-group
			button.btn.btn-secondary(type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="deleteFile()" )|delete
			button.btn.btn-secondary(type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="addFile()" )|add

		
		span(ng-if="loading_workflows") ...loading...
		abn-tree(tree-data="workflows" tree-control="workflow_tree" on-select="tree_handler(branch)" expand-level="2" initial-selection="weblogic" )
	.workflows-control
		.row.agent-table-header
			.col-md-2.col-lg-2
				h4
					| {{workflow.id}} Agents
			.col-md-10.col-lg-10
				form.form-inline(role="form")
					form-group
						label.sr-only(for="login")
							| Login
						input(type="text" id="login" name="login" ng-model='agent.login' placeholder="Enter login*")
					.form-group
						.input-group-addon /
					.form-group
						label.sr-only(for="password")
						input(type="password" id="password" name="password" ng-model='agent.password' placeholder="Enter Password*")
					.form-group
						&nbsp;
						button.btn.btn-primary(ng-click='initializeAgent(agent)' ) Init Agents
				
		.row(ng-repeat="agent in workflow.agents")
			.col-md-4.col-lg-4
				i.glyphicon.glyphicon-hdd.agent-ready( ng-show="agent.status=='READY'")
				i.glyphicon.glyphicon-hdd.agent-error( ng-show="agent.status!='READY'")
				&nbsp;
				a(href="http://{{agent.host}}:{{agent.port}}" target="__blank")
							{{agent.user}}@{{agent.host}}:{{agent.port}}
					.col-md-4.col-lg-5(ng-repeat="job in agentJobs" ng-hide="job.progress == 0 || !job.progress")
						a(href="http://{{agent.host}}:{{agent.port}}" target="__blank")
							{{agent.user}}@{{agent.host}}:{{agent.port}}
			.col-md-8.col-lg-8
				span.pull-left
					{{agent.message}}
				span.pull-left
					progressbar(ng-hide="agent.progress < 1" animate="agent.progress" value="agent.progress" type="success")
							{{agent.status}}
	
		.row
			.col-md-6.col-lg-9.btn-group

				.workflows-buttons.btn-group
					button.btn.btn-primary(ng-hide="currentRunningJob.progress > 0" type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="executeWorkflow()" ) Execute
					button.btn.btn-primary(ng-hide="currentRunningJob.progress > 0" type="button" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="saveWorkflow()") Save
		.row
			div.workflows-textarea(id="jsoneditor")
 
div
	script(type="text/ng-template" id="directoryWarning")
		.modal-header
			h3.modal-title Directory delete requested
		.modal-body
			ul
				| Are you sure?
		.modal-footer
			button.btn.btn-primary(ng-click="ok()") OK
			button.btn.btn-warning(ng-click="cancel()") Cancel
			
div
	script(type="text/ng-template" id="addFile")
		.modal-header
			h3.modal-title Add a file
		.modal-body
			ul
				Add New File to : {{selectedNode.path}}
				input(type="text" name="newFileName" ng-model='newFileName')
				
		.modal-footer
			button.btn.btn-primary(ng-click="addFile(newFileName)") Add File
			button.btn.btn-warning(ng-hide="selectedNode.type != 'folder'" ng-click="addDirectory(newFileName)") Add Directory
			button.btn.btn-warning(ng-click="cancel()") Cancel


