
doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Quickstart Server
    link(rel='stylesheet', href='/css/qs.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')


    block body